<div class="bio">
    <div id="logo"></div>
    <div id="text">
        <p>
            SEKUAS..... AGRUPACION DE LA CIUDAD DE CALI-COLOMBIA QUE INICIA SU RECORRIDO MUSICAL EN EL AÑO 2004… MANTENIENDOSE DESDE EL INICIO CON LA MISMA ALINEACION MUSICAL... LEANDRO LIZALDA EN LA VOZ Y EL BAJO… MARCO LUMDHON GUITARRA LIDER… CARLOS PINZON SEGUNDA GUITARRA Y COROS…. PAULO MOSQUERA EN LA BATERIA.
    DESDE SUS INICIOS SEKUAS SE CARACTERIZA POR HACER SOLO MUSICA PROPIA Y ORIGINAL, QUERIENDO SIEMPRE TOMAR UNA IDENTIDAD Y UN ESTILO PROPIO, LLEVANDO AL PUBLICO UN MENSAJE MUY CLARO. ES CONTRA LA VIOLENCIA, EL SECUESTRO, LA REPRESION Y TODAS AQUELLAS INCONFORMIDADES QUE SE GENERAN A DIARIO EN NUESTRO SISTEMA:
    INFLUENCIADOS POR DIVERSOS GENEROS, CADA INTEGRANTE APORTA SU ESTILO Y TRAYECTORIA MUSICAL HACIENDO DE SEKUAS UNA BANDA DE ROCK DURO DONDE EL PUNK-ROCK Y EL HARD CORE TIENEN SU PROTAGONISMO, SUS LETRAS SOCIALES HABLAN DE LA CRUDEZA Y LA REALIDAD DE NUESTRO PAIS.
    <br>
    <br>
    DE SUS GRABACIONES...
    <ul>
        <li>EL PRIMER DEMO DE 5 CANCIONES GRABADO EN EL AÑO 2005 EN ATOM ESTUDIOS EN LA CIUDAD DE CALI.</li>
        <li> EN EL AÑO 2008 SU PRIMERA PRODUCCION "SEKUAS" EL CUAL CIRCULO POR VARIAS CIUDADES DE NUESTRO PAIS NOS ABRIO LAS PUERTAS A DIFERENTES FESTIVALES POR FUERA DE NUESTRA CIUDAD.</li>
        <li>EN EL AÑO 2010 SELECCIONADOS POR PAIO-MAKANA RECORDS DE ARGENTINA PARA PARTICIPAR EN SU RECOPILACION LLAMADA "INFEXION 2010" REPRESENTANDO A COLOMBIA JUNTO A 38 BANDAS DE DIFERENTES PARTES DEL MUNDO.</li>
        <li>EN EL AÑO 2010 UN TRABAJO EN VIVO DEL FESTIVAL CALIBRE 2010, EN LA CIUDAD DE CALI</li>
        <li>EN EL AÑO 2011, INVITADOS A PARTICIPAR EN EL COMPILADO DE BANDAS PUNK H-C "MUSICA PARA SACUDIR EL MUNDO" VOL 4 JUNTO A BANDAS DE COLOMBIA, ECUADOR Y VENEZUELA.</li>
        <li>EN EL AÑO 2012, PARTICIPES EN LA RECOPILACION REGENERACION PUNK VOL 1. JUNTO A DIFERENTES AGRUPACIONES DEL PAIS.</li>
        <li>ACTUALMENTE EN EL LANZAMIENTO DE SU NUEVA PRODUCCION “CUANTOS MUERTOS?”.</li>
    </ul>     
        </p>
     </div>   
</div>