{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}
{% block content %}
{% if user.is_authenticated  %}
{% endif %}
{% if news %}
                    <div id="left">
	{% for n in news %}
		{% if n.visible %}
                        <article id="{{ n.title }}" class="cont">
                            <link rel="image_src" href="http://sekuas.co/{{ MEDIA_URL }}{{ n.image }}" />
                            <div class="post-title">
                                <label for="tit">{{ n.title }}</label>
                            </div>
                            <div class="post-cont">
                                <div class="post-element">
                                    <img src="{{ MEDIA_URL }}{{ n.image }}" width="570" height="600"/>
                                </div>
                                <div class="post-element">
                                    <div class="post-last">
                                        <p>
                                            {{ n.content }}
                                        </p>
                                    </div>
                                </div>
                                <div class="post-footer">
                                    <div class="fb-like" data-href="http://www.sekuas.co/#{{ n.title }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="lucida grande"></div>
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.sekuas.co" data-via="sekuaspunk" data-lang="es" data-hashtags="sekuaspunk">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                            </div>

                        </article>
		{% endif %}
	{% endfor %}		
                    </div>               
    
{% else %}
	<h2>No existen noticias que mostrar</h2>
{% endif %}
                    <div id="right">
                        <section id="pub">
                            <label>Escúchanos</label>
                            <div id="audio-player"></div>
                            <article>
                                
                            </article>  
                        </section>
                    </div>  
{% endblock %}
